* {
    background-color:blue;
}
.main-header {
    background-image:url("../imgs/index.png";
    backgroung-size: cover;
    display: inline-block;
    text-align: center;
    margin: auto;
}
* {
    background-color:blue;
}