* {
    box-sizing:border-box;
}
html {
    background-color:rgb(150,150,150);
}
.main-header {
    background-color:rgb(75,75,75);
    background-image: url(imgs/index.png);
    background-blend-mode:multiply;
    background-size:contain;

}
section {
	 background-color:rgb(150,150,150);
	 background-image: url(imgs/odinp1.png);
	 background-blend-mode:multiply;
	 background-size:cover;
	 background-size:245px;
}
.index-title {
	text-shadow:4px 4px black;
    display:block;
    text-align:center;
    margin:auto;
    padding-top:18px;
    color:rgba(255,255,0.3);
    font-size: 60px;
	
}
.index-odin {
	text-shadow:1px 1px black;
    margin:auto;
    padding:260px;
    padding-top: 0px;
	color:yellow;
}
.list a {
	text-decoration:none;
	color:rgba(255,255,0,.7);
}
.list a:hover {
	background-color:rgba(255,255,0,.3);
}

